.header {
  padding: 2rem 0;
  background: url(/assets/images/header/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  text-align: center;
}

.content > h3 {
  font-size: 37px;
  font-weight: 700;
  color: var(--black);
}

.content > h2 {
  font-size: 40px;
  font-weight: 800;
}

.content > h2 span {
  color: #f6921e;
  font-weight: 900;
}
