.sidebarDrawer {
  flex: 0.4 1;
}

.sidebarDrawer__options {
  font-weight: 400;
  font-size: 1rem;
  color: #6c757d;
}

/* Drawer Item CSS Modules */

.DrawerItems {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.DrawerItems:hover {
  background-color: #cccccc59;
}

.DrawerItems__Icon {
  font-size: 1.25rem !important;
}

.DrawerItems__name {
  margin-left: 1.5rem;
  font-size: 1rem;
}
